body {
    margin: 0;
}

td,
p {
    font-size: 18px;
    color: #58595B;
    line-height: 1.5;
}

ul {
    margin: 0 0 10px 25px;
    padding: 0;
}

li {
    margin: 0 0 3px 0;
}

h1,
h2 {
    color: #58595B;
}

h1 {
    font-size: 32px;
    line-height: 1.2;
}

h2 {
    font-size: 20px;
}

.copyright {
    color: #821A1E;
    font-weight: bold;
    text-decoration: none;
}

.primary-btn {
    padding: 16px 210px 16px 220px;
    background-color: #821A1E;
    color: white;
    font-size: 18px;
}

.btn-container {
    margin-top: 48px;
    margin-bottom: 48px;
}

.entire-page {
    background: #C7C7C7;
    width: 100%;
    padding: 20px 0;
    font-family: sans-serif;
    line-height: 1.5;
}

.email-body {
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
    background: white;
    border-collapse: collapse;
}

img {
    max-width: 100%;
}

.email-header {
    background: #F5F5F5;
    padding: 30px;
}

.news-section {
    padding: 20px 30px;
}

.footer {
    background: #eee;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}